<% unless current_user %>
    <ul class="navbar-nav mr-auto pt-3 pt-lg-0">
      <li class="nav-item">
        <%= link_to new_petition_path do %>
            <span class="nav-link">Start Petition</span>
        <% end %>
      </li>

    </ul>
<% end %>