<% unless current_user %>
    <li>
      <%= link_to new_petition_path do %>
          <i class="material-icons">category</i>
          <span class="nav-label">Start Petition</span>
      <% end %>
    </li>

<% end %>