<div class="panel-heading">
  Petitions
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-4">
      <div id="petition_tree"></div>
    </div>
    <div class="col-sm-8">
      <div id="petitions">
        <%= render partial: 'petitions' %>
      </div>
    </div>
  </div>
</div>