<div class="panel-heading">
  Complaints
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-4">
      <div id="complaint_tree"></div>
    </div>
    <div class="col-sm-8">
      <div id="complaints">
        <%= render partial: 'complaints' %>
      </div>
    </div>
  </div>
</div>