<% content_for :header do %>
    <div class="col-lg-7 py-5">
      <h1 class="mb-4">Bootstrap themes, templates, and more to help you start your next project!</h1>
      <h2 class="m-0">Start Bootstrap creates free, open source, MIT license, Bootstrap <a href="https://startbootstrap.com/themes">themes</a>, <a href="https://startbootstrap.com/templates">templates</a>, and <a href="https://startbootstrap.com/snippets">code snippets</a> for you to use on any project, <a href="https://startbootstrap.com/guides">guides</a> to help you learn more about designing and developing with the Bootstrap framework, and premium Bootstrap products.</h2>
    </div>
    <div class="col-lg-5">
      <div class="py-5 px-4 masthead-cards">
        <div class="d-flex">
          <a href="https://startbootstrap.com/themes/" class="w-50 pr-3 pb-4">
            <div class="card border-0 border-bottom-red shadow-lg shadow-hover">
              <div class="card-body text-center">
                <div class="text-center">
                  <i class="icon-briefcase fa-4x fa-paint-brush-alt my-2"></i>
                </div>
                100 Themes
              </div>
            </div>
          </a>
          <a href="https://startbootstrap.com/templates/" class="w-50 pl-3 pb-4">
            <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
              <div class="card-body text-center">
                <div class="text-center">
                  <i class="fal fa-4x fa-pencil-ruler my-2"></i>
                </div>
                Templates
              </div>
            </div>
          </a>
        </div>
        <div class="d-flex">
          <a href="https://startbootstrap.com/snippets/" class="w-50 pr-3">
            <div class="card border-0 border-bottom-yellow shadow-lg shadow-hover">
              <div class="card-body text-center">
                <div class="text-center">
                  <i class="fal fa-4x fa-code my-2"></i>
                </div>
                Snippets
              </div>
            </div>
          </a>
          <a href="https://startbootstrap.com/guides/" class="w-50 pl-3">
            <div class="card border-0 border-bottom-green shadow-lg shadow-hover">
              <div class="card-body text-center">
                <div class="text-center">
                  <i class="fal fa-4x fa-books my-2"></i>
                </div>
                Guides
              </div>
            </div>
          </a>
        </div>
        <div class="shape"></div>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-lg-3 resources-sidebar">
    <div class="sticky-top">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#official">Complaints Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="resourcesThemes" href="#themes">Bootstrap Templates &amp; Themes</a>
          <ul class="nav flex-column ml-3" id="resourcesThemesExpand">
            <li class="nav-item">
              <a class="nav-link" href="#premium-marketplaces">Premium Marketplaces</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#premium-vendors">Premium Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#free-themes">Free Templates &amp; Themes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#showcases">Bootstrap Showcases</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#dev-tools">Bootstrap Development Tools</a>
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="#integration">Framework Integrations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual-builders">Visual Builders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#other-dev">Other Tools</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#plugins">Bootstrap Plugins</a>
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="#plugins-form">Form Plugins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plugins-table">Table Plugins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plugins-menu">Menu &amp; Navigation Plugins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plugins-notification">Notification Plugins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plugins-modal">Modal Plugins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plugins-buttons">Button Plugins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plugins-other">Other Plugins</a>
            </li>
          </ul>
        </li>
      </ul>
      <a href="#submitResource" data-toggle="modal" class="ml-2 mt-4 btn btn-sm btn-primary border-0">Submit a Resource</a>
    </div>
  </div>
  <div class="col-lg-9 resources">
    <%= link_to 'Send Complaint', new_complaint_path, class: 'btn btn-primary' %>
    <h2 class="page-header" id="official">Official Bootstrap Resources</h2>
    <p class="lead">Projects created and maintained by the Bootstrap creators.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap</a></td>
          <td>The most popular front-end framework for developing responsive, mobile first projects on the web. </td>
        </tr>
        <tr>
          <td><a href="https://blog.getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap Blog</a></td>
          <td>The official bootstrap blog. Announcements, discussions, and more for Bootstrap. </td>
        </tr>
        <tr>
          <td><a href="https://expo.getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap Expo</a></td>
          <td>Beautiful and inspiring uses of Bootstrap, curated by @mdo. </td>
        </tr>
        <tr>
          <td><a href="https://github.com/twbs/bootlint" rel="nofollow" target="_blank">Bootlint</a></td>
          <td>An HTML linter for Bootstrap projects. </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h2 class="page-header" id="themes">Bootstrap Templates &amp; Themes</h2>
    <hr>

    <h3 class="pt-4" id="premium-marketplaces">Premium Marketplaces</h3>
    <p class="lead">Purchase Bootstrap themes, or sell your own custom designed Bootstrap themes on these third-party marketplace websites!</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://themes.getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap Themes</a></td>
          <td>Bootstrap Themes sells themes built by or reviewed by Bootstrap's creators. The Boostrap team reviews every new theme and update against a set of guidelines they wrote. </td>
        </tr>
        <tr>
          <td><a href="https://wrapbootstrap.com/?ref=StartBootstrap" rel="nofollow" target="_blank">WrapBootstrap</a></td>
          <td>WrapBootstrap was one of the first third-party marketplaces dedicated to selling premium Bootstrap templates and themes. </td>
        </tr>
        <tr>
          <td><a href="https://bootstrapbay.sjv.io/N0yAv" rel="nofollow" target="_blank">BootstrapBay</a></td>
          <td>BootstrapBay is a third-party marketplace for Bootstrap themes &amp; templates, operating since 2014. </td>
        </tr>
        <tr>
          <td><a href="https://1.envato.market/4m9dG" rel="nofollow" target="_blank">ThemeForest</a></td>
          <td>ThemeForest is a very popular marketplace for website themes. There are thousands of Bootstrap based products on ThemeForest to choose from. </td>
        </tr>
        <tr>
          <td><a href="https://creativemarket.com/themes/bootstrap?u=StartBootstrap" rel="nofollow" target="_blank">Creative Market</a></td>
          <td>Creative Market is another third-party vendor marketplace that offers a variety of general design assets. Creative Market has many Bootstrap built themes to choose from. </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="premium-vendors">Premium Vendors</h3>
    <p class="lead">Premium vendors only sell their own in-house created content, as opposed to marketplace websites that sell themes submitted by a variety of third-party users.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://www.creative-tim.com?affiliate_id=101249" rel="nofollow" target="_blank">Creative Tim</a></td>
          <td>A selection of premium Bootstrap themes, templates, UI kits and more - developed by Creative Tim. </td>
        </tr>
        <tr>
          <td><a href="https://designmodo.com/startup/?u=787" rel="nofollow" target="_blank">Designmodo</a></td>
          <td>Designmodo's Startup Framework is a Bootstrap based website generator, which is a high quality solution for those who want a beautiful startup website quickly. </td>
        </tr>
        <tr>
          <td><a href="https://themefisher.com/premium-templates/" rel="nofollow" target="_blank">Themefisher</a></td>
          <td>A selection of Bootstrap based themes built by the design team at Themefisher. </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="free-themes">Free Templates &amp; Themes</h3>
    <p class="lead">Download free Bootstrap templates and themes on the following websites.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://startbootstrap.com/" rel="nofollow" target="_blank">Start Bootstrap</a></td>
          <td>Start Bootstrap creates free, open source, MIT license, Bootstrap themes, templates, and code snippets for you to use on any project, guides to help you learn more about designing and developing with the Bootstrap framework, and premium Bootstrap products. </td>
        </tr>
        <tr>
          <td><a href="https://bootswatch.com/" rel="nofollow" target="_blank">Bootswatch</a></td>
          <td>A collection of easy to use, open source swatches for Bootstrap. </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="showcases">Bootstrap Showcases</h3>
    <p class="lead">Get inspired for your next Bootstrap project by browsing examples of websites built with Bootstrap!</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="http://builtwithbootstrap.com/" rel="nofollow" target="_blank">Built With Bootstrap</a></td>
          <td>A showcase of sites and apps built with Bootstrap </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2 class="page-header" id="dev-tools">Bootstrap Development Tools</h2>
    <hr>

    <h3 class="pt-4" id="integration">Framework Integrations</h3>
    <p class="lead">Bootstrap components rewritten to integrate with the most popular development frameworks and CMS systems</p>
    <h5 class="mt-4">JavaScript</h5>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://ng-bootstrap.github.io" rel="nofollow" target="_blank">ng-bootstrap</a></td>
          <td>Bootstrap 4 components, powered by Angular <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://reactstrap.github.io/" rel="nofollow" target="_blank">reactstrap</a></td>
          <td>Easy to use React Bootstrap 4 components <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://bootstrap-vue.js.org/" rel="nofollow" target="_blank">Bootstrap Vue</a></td>
          <td>Bootstrap 4 Components For Vue.js <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://angular-ui.github.io/bootstrap/" rel="nofollow" target="_blank">UI Bootstrap</a></td>
          <td>Bootstrap components written in pure AngularJS by the AngularUI Team <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://valor-software.com/ngx-bootstrap/" rel="nofollow" target="_blank">ngx-bootstrap</a></td>
          <td>Native Angular widgets for Bootstrap 3 and Bootstrap 4 <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="http://www.ember-bootstrap.com/" rel="nofollow" target="_blank">Ember Bootstrap</a></td>
          <td>An ember-cli addon for using Bootstrap in Ember.js applications. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h5 class="mt-4">WordPress</h5>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://roots.io/sage/" rel="nofollow" target="_blank">Sage</a></td>
          <td>The best WordPress starter theme with a modern front-end development workflow. Sage comes with the latest version of Bootstrap. <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="http://bootplate.jdmdigital.co/" rel="nofollow" target="_blank">Bootplate</a></td>
          <td>Wicked-fast, mobile-first Bootstrap 4 theme framework for building awesome WordPress websites. <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="http://understrap.com/" rel="nofollow" target="_blank">Understrap</a></td>
          <td>UnderStrap combines Underscores and Bootstrap 4 into a perfect open source foundation for your next WordPress theme project. <span class="badge badge-info">BS4</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <h3 class="pt-4" id="visual-builders">Visual Builders</h3>
    <p class="lead">Visual builder applications for creating custom versions of Bootstrap and Bootstrap components.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="http://www.bootply.com/" rel="nofollow" target="_blank">Bootply</a></td>
          <td>A Bootstrap code editor and builder - the Bootstrap playground. <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="http://buildbootstrap.com/" rel="nofollow" target="_blank">BuildBootstrap</a></td>
          <td>BuildBootstrap is a free online tool helping with common task of creating responsive layout utilizing Bootstrap 3 or latest Bootstrap 4 grid system. <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="http://pingendo.com/" rel="nofollow" target="_blank">Pingendo</a></td>
          <td>A first class Bootstrap 4 builder for developers, designers, and their clients <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://bootstrapstudio.io/" rel="nofollow" target="_blank">Bootstrap Studio</a></td>
          <td>A powerful desktop app for creating responsive websites using the Bootstrap framework. <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://bootsnipp.com/forms" rel="nofollow" target="_blank">Form Builder</a></td>
          <td>A drag-and-drop Bootstrap form builder by Bootsnipp. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.bootply.com/" rel="nofollow" target="_blank">Button Builder</a></td>
          <td>A simple Bootstrap button builder by Bootsnipp. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://jetstrap.com/" rel="nofollow" target="_blank">Jetstrap</a></td>
          <td>Not just a mock-up tool, Jetstrap is the premier interface-building tool for Bootstrap 3. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://bootswatchr.com/" rel="nofollow" target="_blank">BootSwatchr</a></td>
          <td>ThemeRoller for Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://paintstrap.com/" rel="nofollow" target="_blank">PaintStrap</a></td>
          <td>Generate beautiful Bootstrap themes using the Adobe kuler / COLOURlovers color scheme. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://rriepe.github.io/1pxdeep/" rel="nofollow" target="_blank">1pxdeep</a></td>
          <td>Flat(ish) Bootstrap 3 theme generator. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h3 class="pt-4" id="other-dev">Other Development Tools</h3>
    <p class="lead">Helpful tools for developers to use while creating with Bootstrap.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://www.bootstrapcdn.com/" rel="nofollow" target="_blank">Bootstrap CDN</a></td>
          <td>The recommended CDN for Bootstrap, Font Awesome, and Bootswatch <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://github.com/shakacode/bootstrap-loader" rel="nofollow" target="_blank">Bootstrap Loader</a></td>
          <td>Load Bootstrap styles and scripts in your Webpack bundle <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://www.creative-tim.com/bootstrap-cheat-sheet/" rel="nofollow" target="_blank">Bootstrap 4 CheatSheet</a></td>
          <td>A cheat sheet for Bootstrap 4 components <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://rajasegar.github.io/PUG-Bootstrap/" rel="nofollow" target="_blank">Pug Bootstrap</a></td>
          <td>The power of Bootstrap combined with the speed of Pug for faster and easier web development. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://bootsnipp.com" rel="nofollow" target="_blank">Bootsnipp</a></td>
          <td>Design elements, playground, and code snippets for the Bootstrap HTML/CSS/JS framework. <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://codexui.com/" rel="nofollow" target="_blank">CodexUI</a></td>
          <td>Vanilla Bootstrap 4 components that require no extra CSS or Javascript to use. <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://github.com/paypal/bootstrap-accessibility-plugin" rel="nofollow" target="_blank">Bootstrap Accessibility Plugin</a></td>
          <td>Accessibility Plugin for Bootstrap 3 and Bootstrap 3 as SubModule. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://tablestrap.com/" rel="nofollow" target="_blank">Tablestrap</a></td>
          <td>A Bootstrap table generator. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.lavishbootstrap.com/" rel="nofollow" target="_blank">Lavish</a></td>
          <td>Generate your own Bootstrap color scheme from an image and customize to your taste. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.bootcoding.com/" rel="nofollow" target="_blank">Bootcoding</a></td>
          <td>Create your own or modifiy existing bootstrap code snippets by playing with HTML, CSS and JS. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h2 class="page-header" id="plugins">Bootstrap Plugins</h2>
    <hr>

    <h3 class="pt-4" id="plugins-form">Form Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://uxsolutions.github.io/bootstrap-datepicker/" rel="nofollow" target="_blank">Bootstrap Datepicker</a></td>
          <td>A datepicker for Bootstrap. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://codepen.io/buberdds/full/fBAsr" rel="nofollow" target="_blank">Angular Bootstrap Colorpicker</a></td>
          <td>No jQuery dependendencies, just an AngularJS directive based on the bootstrap-colorpicker jQuery library. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://farbelous.github.io/bootstrap-colorpicker/" rel="nofollow" target="_blank">Bootstrap Colorpicker</a></td>
          <td>Simple and customizable colorpicker component for Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://pushtell.github.io/react-bootstrap-date-picker/" rel="nofollow" target="_blank">React Bootstrap Datepicker</a></td>
          <td>React-Bootstrap based date picker. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://blueimp.github.io/jQuery-File-Upload/" rel="nofollow" target="_blank">jQuery File Upload</a></td>
          <td>File upload widget with multiple file selection, drag &amp; drop support, progress bars, validation and preview images, audio and video for jQuery. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://eonasdan.github.io/bootstrap-datetimepicker/" rel="nofollow" target="_blank">Bootstrap 3 Datepicker</a></td>
          <td>Date/time picker widget based on Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://silviomoreto.github.io/bootstrap-select/" rel="nofollow" target="_blank">Bootstrap Select</a></td>
          <td>Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.daterangepicker.com/" rel="nofollow" target="_blank">Bootstrap Date Range Picker</a></td>
          <td>Date range picker component for Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://reactiveraven.github.io/jqBootstrapValidation/" rel="nofollow" target="_blank">jqBootstrapValidation</a></td>
          <td>A jQuery validation plugin for bootstrap forms. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://formvalidation.io/" rel="nofollow" target="_blank">FormValidation</a></td>
          <td>Plugin to validate Bootstrap forms <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://github.com/danielfarrell/bootstrap-combobox" rel="nofollow" target="_blank">Bootstrap Combobox</a></td>
          <td>A combobox plugin that works with Bootstrap. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://headdetect.github.io/bootstrap-floating-labels" rel="nofollow" target="_blank">Bootstrap Floating Labels</a></td>
          <td>UX friendly floating form labels for Bootstrap 3 <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://github.com/wgarrido/bootstrap-float-label" rel="nofollow" target="_blank">Bootstrap Float Label</a></td>
          <td>Floating labels with animation for Bootstrap <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://wenzhixin.net.cn/p/bootstrap-show-password" rel="nofollow" target="_blank">Bootstrap Show Password</a></td>
          <td>A simple, yet intuitive Bootstrap form plugin for giving users the option to see their password. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://sliptree.github.io/bootstrap-tokenfield/" rel="nofollow" target="_blank">Tokenfield for Bootstrap</a></td>
          <td>Advanced tagging/tokenizing plugin for jQuery and Bootstrap with a focus on keyboard and copy-paste support. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://davidstutz.github.io/bootstrap-multiselect/" rel="nofollow" target="_blank">Bootstrap Multiselect</a></td>
          <td>A jQuery multiselect plugin based on Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://thompsonsj.com/bootstrap-select-dropdown/" rel="nofollow" target="_blank">Bootstrap Select Dropdown</a></td>
          <td>A jQuery plugin for Bootstrap 4 that converts select and multiselect elements to dropdowns. <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="http://www.bootstraptoggle.com/" rel="nofollow" target="_blank">Bootstrap Toggle</a></td>
          <td>Bootstrap Toggle is a highly flexible Bootstrap plugin that converts checkboxes into toggles <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.eyecon.ro/bootstrap-datepicker/" rel="nofollow" target="_blank">Datepicker for Bootstrap</a></td>
          <td>A plugin to add a datepicker to field or to any other element in Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://mimo84.github.io/bootstrap-maxlength/" rel="nofollow" target="_blank">Bootstrap MaxLength</a></td>
          <td>A visual feedback indicator for the maxlength attribute. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://victor-valencia.github.io/bootstrap-iconpicker" rel="nofollow" target="_blank">Bootstrap Iconpicker</a></td>
          <td>A simple Bootstrap 3 based icon picker. Allows a user to pick an icon from a dropdown menu. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://maxwells.github.io/bootstrap-tags.html" rel="nofollow" target="_blank">Bootstrap Tags</a></td>
          <td>A jQuery plugin meant to extend Bootstrap to include tagging functionality. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://sandglaz.github.io/bootstrap-tagautocomplete/" rel="nofollow" target="_blank">Bootstrap Tag Autocomplete</a></td>
          <td>An @mention autocomplete plugin similar to the functionality seen on Facebook or Twitter. <span class="badge badge-secondary">BS2</span> </td>
        </tr>
        <tr>
          <td><a href="http://getwebhelp.com/bootcomplete/" rel="nofollow" target="_blank">Bootcomplete.js</a></td>
          <td>Lightweight AJAX autocomplete alternitive for Bootstrap 3 <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://labs.abeautifulsite.net/jquery-minicolors/" rel="nofollow" target="_blank">jQuery MiniColors</a></td>
          <td>A tiny color picker built on jQuery with Bootstrap 3 support. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://extremefe.github.io/bootstrap-colorpalette/" rel="nofollow" target="_blank">Color Palette for Bootstrap</a></td>
          <td>A color palette dropdown plugin for Bootstrap. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://seiyria.com/bootstrap-slider/" rel="nofollow" target="_blank">Bootstrap Slider</a></td>
          <td>A Bootstrap slider component. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.bootstrap-year-calendar.com/" rel="nofollow" target="_blank">Bootstrap Year Calendar</a></td>
          <td>A fully customizable year calendar widget for Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://vsn4ik.github.io/jquery.spinner/" rel="nofollow" target="_blank">jQuery Spinner</a></td>
          <td>A number-spinner based-on jQuery, supports keyboard operations and continuous changing. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="plugins-table">Table Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="http://bootstrap-table.wenzhixin.net.cn/" rel="nofollow" target="_blank">Bootstrap Table</a></td>
          <td>An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. <span class="badge badge-secondary">BS2</span> <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://datatables.net/examples/styling/bootstrap4.html" rel="nofollow" target="_blank">DataTables for Bootstrap</a></td>
          <td>A extension of the DataTables jQuery plugin that integrates seamlessly with the Bootstrap 3 and 4 UI. <span class="badge badge-secondary">BS3</span> <span class="badge badge-info">BS4</span></td>
        </tr>
        <tr>
          <td><a href="https://wootapa-watable.appspot.com/" rel="nofollow" target="_blank">WATable</a></td>
          <td>Filter, format, paginate and sort your data with ease and lightning speed <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="plugins-menu">Menu &amp; Navigation Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://jonmiles.github.io/bootstrap-treeview/" rel="nofollow" target="_blank">Bootstrap Tree View</a></td>
          <td>Tree View for Bootstrap <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://dgoguerra.github.io/bootstrap-menu/" rel="nofollow" target="_blank">Bootstrap Context Menu</a></td>
          <td>A context menu plugin using Bootstrap's dropdown component. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://botmonster.com/jquery-bootpag/" rel="nofollow" target="_blank">Bootpag</a></td>
          <td>A dynamic pagination jQuery plugin that works well with Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://vsn4ik.github.io/bootstrap-submenu/" rel="nofollow" target="_blank">Bootstrap Submenu</a></td>
          <td>Extense the Bootstrap dropdown to add support for submenus. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://skywalkapps.github.io/bootstrap-dropmenu/" rel="nofollow" target="_blank">Bootstrap Dropmenu</a></td>
          <td>Dropmenu is a set of extensions, which enhances Bootstrap dropdown component. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://neofusion.github.io/hierarchy-select/" rel="nofollow" target="_blank">Hierarchy Select</a></td>
          <td>Dropmenu menus with live search and hierarchy. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="plugins-notification">Notification Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://lipis.github.io/bootstrap-sweetalert/" rel="nofollow" target="_blank">SweetAlert for Bootstrap</a></td>
          <td>A beautiful replacement for JavaScript's "alert". <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://bootstrap-confirmation.js.org/" rel="nofollow" target="_blank">Bootstrap Confirmation</a></td>
          <td>Bootstrap plugin for on-place confirm boxes using Popover <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://bootstraptour.com/" rel="nofollow" target="_blank">Bootstrap Tour</a></td>
          <td>The easiest way to show people how to use your website. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://sciactive.github.io/pnotify/" rel="nofollow" target="_blank">PNotify</a></td>
          <td>Beautiful JavaScript notifications. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://projects.zoulcreations.com/jquery/jquery-growl/" rel="nofollow" target="_blank">jQuery Growl</a></td>
          <td>A growl notifications plugin that works out of the box with the Bootstrap 3 framework. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://github.com/ifightcrime/bootstrap-growl/" rel="nofollow" target="_blank">Bootstrap Growl</a></td>
          <td>A pretty simple jQuery plugin that turns standard Bootstrap alerts into "growl-like" notifications. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://bootstrap-notify.remabledesigns.com/" rel="nofollow" target="_blank">Bootstrap Notify</a></td>
          <td>Turn standard Bootstrap alerts into "growl" like notifications. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://skywalkapps.github.io/bootstrap-notifications/" rel="nofollow" target="_blank">Bootstrap Notifications</a></td>
          <td>This component comes very handy when you want to quickly implement UI for notifications in your app. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="plugins-modal">Modal Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="http://bootboxjs.com/" rel="nofollow" target="_blank">Bootbox.js</a></td>
          <td>Bootstrap modals made easy. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://jbutz.github.io/bootstrap-lightbox/" rel="nofollow" target="_blank">Bootstrap Lightbox</a></td>
          <td>A simple lightbox plugin based on the bootstrap modal plugin. <span class="badge badge-secondary">BS2</span> </td>
        </tr>
        <tr>
          <td><a href="http://labs.mintchaos.com/flippant.js/" rel="nofollow" target="_blank">Flippant.js</a></td>
          <td>A mini js+css library for flipping things over. <span class="badge badge-secondary">BS2</span> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="plugins-buttons">Button Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://lipis.github.io/bootstrap-social/" rel="nofollow" target="_blank">Social Buttons for Bootstrap</a></td>
          <td>Social Sign-In Buttons made in pure CSS based on Bootstrap and Font Awesome! <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://msurguy.github.io/ladda-bootstrap/" rel="nofollow" target="_blank">Ladda UI for Bootstrap 3</a></td>
          <td>Great effect that puts the spinner directly inside a button to give your users immediate feedback after a click or form submit. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://vsn4ik.github.io/bootstrap-checkbox/" rel="nofollow" target="_blank">Bootstrap Checkbox</a></td>
          <td>A checkbox component based on Bootstrap buttons. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3 class="pt-4" id="plugins-other">Other Plugins</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="resource-name">Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="https://summernote.org/" rel="nofollow" target="_blank">Summernote</a></td>
          <td>Super Simple WYSIWYG Editor on Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://mindmup.github.io/bootstrap-wysiwyg/" rel="nofollow" target="_blank">Bootstrap WYSIWYG</a></td>
          <td>A tiny wysiwyg rich text editor for Bootstrap. <span class="badge badge-secondary">BS2</span> </td>
        </tr>
        <tr>
          <td><a href="http://www.codingdrama.com/bootstrap-markdown/" rel="nofollow" target="_blank">Bootstrap Markdown</a></td>
          <td>Markdown editing meet Bootstrap. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="http://jablon.me/bootstrap-milestones/" rel="nofollow" target="_blank">Bootstrap Milestones</a></td>
          <td>A Bootstrap plugin to create milestone lists. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://sanex3339.github.io/bootstrap-responsive-timeline/" rel="nofollow" target="_blank">Bootstrap Responsive Timeline</a></td>
          <td>A CSS based Bootstrap timeline. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        <tr>
          <td><a href="https://skywalkapps.github.io/bootstrap-activity-feed/" rel="nofollow" target="_blank">Activity Feed for Bootstrap</a></td>
          <td>Activity Feed displays user posts in Facebook-like style. <span class="badge badge-secondary">BS3</span> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= content_for :subscribe do %>
    <div class="col-sm-4">
      <h3 class="mb-0">Want to get new petitions?</h3>
      <p class="text-white-50">Subscribe to get updated when new petitions are started!</p>
      <div id="mc_embed_signup">
        <form role="form" action="https://startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
          <div class="input-group input-group-lg">
            <input type="email" name="EMAIL" class="form-control border-0" id="mce-EMAIL" placeholder="Email address...">
            <div class="input-group-append">
              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light">Subscribe!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
<% end %>