<h1>Editing Complaint Client Satisfaction</h1>

<%= render 'form', complaint_client_satisfaction: @complaint_client_satisfaction %>

<%= link_to 'Show', @complaint_client_satisfaction %> |
<%= link_to 'Back', complaint_client_satisfactions_path %>
