<h1>Editing Petition Review Member</h1>

<%= render 'form', petition_review_member: @petition_review_member %>

<%= link_to 'Show', @petition_review_member %> |
<%= link_to 'Back', petition_review_members_path %>
