<div class="panel-heading">
  Government Body Types
</div>
<div class="panel-body">
  <table class="table dataTable">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @government_body_types.each do |government_body_type| %>
      <tr>
        <td><%= government_body_type.name %></td>
        <td><%= government_body_type.description %></td>
        <td>
          <%= link_to edit_government_body_type_path(government_body_type) do %>
              <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
  <%= link_to new_government_body_type_path do %>
      <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add Government Body Level</button>
  <% end %>
</div>