<% content_for :header do %>
        <div class="col-lg-7 py-5">
          <h1 class="mb-4">Bootstrap themes, templates, and more to help you start your next project!</h1>
          <h2 class="m-0">Start Bootstrap creates free, open source, MIT license, Bootstrap <a href="https://startbootstrap.com/themes">themes</a>, <a href="https://startbootstrap.com/templates">templates</a>, and <a href="https://startbootstrap.com/snippets">code snippets</a> for you to use on any project, <a href="https://startbootstrap.com/guides">guides</a> to help you learn more about designing and developing with the Bootstrap framework, and premium Bootstrap products.</h2>
        </div>
        <div class="col-lg-5">
              <div class="py-5 px-4 masthead-cards">
                <div class="d-flex">
                  <a href="https://startbootstrap.com/themes/" class="w-50 pr-3 pb-4">
                    <div class="card border-0 border-bottom-red shadow-lg shadow-hover">
                      <div class="card-body text-center">
                        <div class="text-center">
                          <i class="icon-briefcase fa-4x fa-paint-brush-alt my-2"></i>
                        </div>
                        100 Themes
                      </div>
                    </div>
                  </a>
                  <a href="https://startbootstrap.com/templates/" class="w-50 pl-3 pb-4">
                    <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                      <div class="card-body text-center">
                        <div class="text-center">
                          <i class="fal fa-4x fa-pencil-ruler my-2"></i>
                        </div>
                        Templates
                      </div>
                    </div>
                  </a>
                </div>
                <div class="d-flex">
                  <a href="https://startbootstrap.com/snippets/" class="w-50 pr-3">
                    <div class="card border-0 border-bottom-yellow shadow-lg shadow-hover">
                      <div class="card-body text-center">
                        <div class="text-center">
                          <i class="fal fa-4x fa-code my-2"></i>
                        </div>
                        Snippets
                      </div>
                    </div>
                  </a>
                  <a href="https://startbootstrap.com/guides/" class="w-50 pl-3">
                    <div class="card border-0 border-bottom-green shadow-lg shadow-hover">
                      <div class="card-body text-center">
                        <div class="text-center">
                          <i class="fal fa-4x fa-books my-2"></i>
                        </div>
                        Guides
                      </div>
                    </div>
                  </a>
                </div>
                <div class="shape"></div>
              </div>
            </div>
<% end %>
      <section class="py-5 bg-light">
        <div class="mb-5 sb-nav-tabs-wrapper">
          <div class="container">
            <ul class="nav nav-tabs sb-nav-tabs border-0" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link nav-link-theme active show" id="theme-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Active Petitions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-template show" id="template-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Popular Templates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-snippet show" id="snippet-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Popular Snippets</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="tab-content mb-5 mb-lg-0" id="myTabContent">
                <div class="tab-pane fade active show" id="theme" role="tabpanel" aria-labelledby="theme-tab">
                  <div class="row">
                    <% Petition.all.each do |p| %>
                    <div class="col-md-4">
                      <div class="item-preview mb-5">
                        <a class="item-preview-img box-shadow-lg d-block mb-3">
                          <%= link_to p do %>
                            <%= image_tag(p.cover_image, width:'100%', height: '156px', alt: "#{p.title}", class:'lazy image-fluid') %>
                          <% end %>
                        </a>
                        <div class="item-preview-title"><%= p.title %></div>
                        <div class="item-preview-description"><%= p.petition_details.truncate_words(20) %></div>
                      </div>
                    </div>
                    <% end %>
                    <div class="col-12 text-center">
                      <a href="https://startbootstrap.com/themes/" class="btn btn-xl btn-theme shadow">Browse All Petitions</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="template" role="tabpanel" aria-labelledby="template-tab">
                  <h1>Templates</h1>
                </div>
                <div class="tab-pane fade" id="snippet" role="tabpanel" aria-labelledby="snippet-tab">
                  <h1>Snippets</h1>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="carbon-inverse mb-5">
                <script async="" type="text/javascript" src="./Free Bootstrap Themes, Templates, Snippets, and Guides - Start Bootstrap_files/carbon.js" id="_carbonads_js"></script>
              </div>
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 bg-success text-white py-3">
                  <span class="font-weight-bold small"><i class="far fa-books"></i> Latest Guides &amp; Tutorials</span>
                </div>
                <div class="list-group list-group-flush">
                  <a href="https://startbootstrap.com/guides/how-to-create-a-website-with-github-pages" class="list-group-item list-group-item-action py-3">
                    <div class="mb-1">
                      <span class="badge badge-pill badge-guide">Beginner Friendly</span>
                    </div>
                    <div class="font-weight-bold mb-1">How to Create and Launch a Website from Start to Finish</div>
                    <div class="small mb-2">A beginners guide to publishing websites using themes from Start Bootstrap and GitHub Pages</div>
                    <div class="small text-muted">Feb 5, 2019</div>
                  </a>
                </div>
              </div>
              <div class="text-center mb-4">
                <a href="https://startbootstrap.com/guides" class="btn btn-guide btn-xl shadow">Browse All Guides</a>
              </div>
            </div>
          </div>
        </div>
      </section>
