.content {
    margin-bottom: 25px!important;
    background: linear-gradient(45deg, darkseagreen, transparent);
}
.sidebar .sidebar-nav{
    padding: 0 10px 0 10px;
}
.sidebar .sidebar-nav .metismenu li a{
    border-bottom: 1px solid #009688;
}

ul.wysihtml5-toolbar > li {
    margin: 0;
}

.sidebar{
    background: #fff;
}

.span.nav-label {
    border-bottom: 1px solid skyblue;
}
legend.underlined{
    margin-bottom: 5px;
    margin-top: 20px;
}
.treeview{
    margin-bottom: 10px;
}
.treeview .list-group-item{
    padding: 5px 10px;
}
form label{
    text-align: right;
}
.form-actions{
    border-top: 1px solid #eee;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.sub_form legend{
    border: none;
    width: auto;
}

legend.underlined{
    border-bottom: inherit;
}
.js-exportable{
    background: #ffffff;
}
.tab-pane{
    background: #f9f9f9;
}

.icheckbox_square-blue, .iradio_square-blue {
    margin-right: 2px;
}
.form-check{
    margin-right: 10px;
    float: left;
    width: 45%;
}
.single_columned_list .form-check{
    float: left;
    width: 100%;
}
.form-group{
    margin-bottom: 30px;
}
.form-group .form-control{
    width: inherit;
    font-size: large;
}

.signin-form-area .form-control{
    width: -moz-available;
}

.wizard .content{
    overflow: visible;
}
.wizard, .tabcontrol{
    overflow: visible;
}
fieldset{
    /*background: #ffffff;*/
    overflow: visible;
}
label.error{
    margin-left: 30px;
}
legend.empty{
    margin-bottom: 0px;
}
fieldset.sub_form{
    padding: 5px 20px;
    border: 1px solid #d4d3f2;
    margin: 20px 5px;
}
.tab-pane {
    background: #fff;
}

.panel-close{
    display: none;
}
.fc-title{
    white-space: initial;
}
.transparent_label{
    color: transparent;
}
.invalid-feedback{
    color: red;
}

.left_form{
    border-right: 1px solid skyblue;
}
form > label{
    font-size: 12px;
}
.card{
    min-height: auto;
}

.details-label{
    font-weight: bold;
}
.help-block{
    color: red;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: darksalmon;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: darkcyan;
    border-color: #00b0e4;
    text-align: left;
}