<h1>Editing Petition Client Satisfaction</h1>

<%= render 'form', petition_client_satisfaction: @petition_client_satisfaction %>

<%= link_to 'Show', @petition_client_satisfaction %> |
<%= link_to 'Back', petition_client_satisfactions_path %>
